.day{
    border: 5px solid white;
    border-radius: 50%;;
    color:white;
    width: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
    background-color: #461959;
}
.input{
        display: flex;
        justify-content: center;
}
.center{
        display:flex;
        justify-content: center;
}
.full{
    background-color: rgba(255, 255, 0, 0.5); ;
}
.txt{
    background-color: black;
    padding: 10px;
    box-shadow: 5px 10px 20px white inset;
    margin-left: 55px;
    color:white;
    height:50px;
    width:200px;
}
.submit{
    height: 40px;
    width:35px;
    background-color: #3F2E3E;
    color:white;
    box-shadow: 5px 3px 30px 8px #888888;
    border-radius: 50%;
}
.list{
    background-color: #FAF0D7;
    list-style-type: none;
}
.check{
    margin-right: 20px;
}
.work{
    color:red;
    text-decoration: none;
    background-color: #3F2E3E;
}
.head{
    color:#1E5F74;
}
.header{
    background-color: aquamarine;
    width:147px;
}
